<p><img src="http://www.videosydiversion.com/wp-content/uploads/2009/03/brallan-aletsis.jpg" height="185" style="float:left"></p>
<p><strong>Lisensiado Brallan Aletsis Mota Pacheco</strong><br>
<p><strong>EDA: </strong> 31 AÑOS<br>
<strong>Estado Sivil:</strong> CASADO 3 VESES<br>
<strong>Familia: </strong> 5 NIÑOS<br>
<strong>Lugar de Nacimiento:</strong> NASI EN GUANATOS JAL<br>
<strong>TIPO SE SANGRE:</strong> ROJA NORMAL SIN SIDA<br>
<strong>OJOS: </strong> UN POCO BERDES Y ESPRESIVOS.<br>
<strong>CABELLO: </strong> A LA MODA<br>
<strong>TES:</strong> DE TILA, GORDOLOBO Y MANSANILLA<br>
</p>